<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KhumaloCraft Emporium</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        /* Styles for the navigation bar */
        .navbar {
            background-color: #171717; /* Dark background color */
            color: #cfcfcf; /* Light text color */
        }

        .navbar-brand,
        .navbar-nav .nav-link {
            color: #ffffff; /* Color for the brand and navigation links */
        }

            .navbar-nav .nav-link:hover {
                color: #333333; /* Color for the navigation links on hover */
            }

        .dropdown-menu {
            background-color: #121212; /* Background color for dropdown menu */
        }

            .dropdown-menu .dropdown-item {
                color: #cfcfcf; /* Color for dropdown menu items */
            }

                .dropdown-menu .dropdown-item:hover {
                    background-color: #333333; /* Background color for dropdown menu items on hover */
                    color: #ffffff; /* Text color for dropdown menu items on hover */
                }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    </style>
</head>
<body> 
        <!-- Navigation bar with the Login link -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-white">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KhumaloCraft</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="MyWork">MyWork</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Settings">Settings</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>

                                    // only want employees to see this
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ManageStock">Stock</a> // will be role auth for part 3
                                    
                                  
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!-- Main content area -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- JavaScript files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/authModal.js"></script>

   
    <script>
        
    </script>

    @await RenderSectionAsync("Scripts", required: false) 
</body>
</html>
