@model KhumaloCraft.Models.User

<!DOCTYPE html>
<html>
<head>
    <title>Login / Register</title>
    <link rel="stylesheet" href="/css/site.css">
    <script src="~/js/site.js"></script>
</head>
<body>
    <div id=" loginForm">
    <h2>Login</h2>
    <form asp-controller="User" asp-action="LoginUser" method="post">
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" name="UserEmail" required>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="PasswordHash" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
            <p>Already have an account? <a asp-controller="User" asp-action="Register">Register here</a>.</p>


    </form>
    </div>
</body>
</html>

@functions{
   // The PasswordHash field is required. ERROR, somehow the passwordhash field isnt recieving data
}
