@model KhumaloCraft.Models.User

<!DOCTYPE html>
<html>
<head>
    <title>Login / Register</title>
    <link rel="stylesheet" href="/css/site.css">
    <script src="~/js/site.js"></script>
</head>
<body>
    <div id="registerForm">
        <h2>Register</h2>
        <form asp-controller="User" asp-action="RegisterUser" method="post">
            <div class="form-group">
                <label for="inputRegisterEmail">Email address</label>
                <input type="email" class="form-control" id="inputRegisterEmail" name="UserEmail" required>
            </div>
            <div class="form-group">
                <label for="inputRegisterPassword">Password</label>
                <input type="password" class="form-control" id="inputRegisterPassword" name="PasswordHash" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            <p>Already have an account? <a asp-controller="User" asp-action="Login">Login here</a>.</p>

        </form>
    </div>
</body> 
</html>

@functions {
    // The PasswordHash field is required. ERROR, somehow the passwordhash field isnt recieving data
}
