@model KhumaloCraft.Models.User

<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <script>
        function togglePasscodeField() {
            var enableDefaultCode = document.getElementById('enableDefaultCode').checked;
            var passcodeField = document.getElementById('passcodeField');
            passcodeField.style.display = enableDefaultCode ? 'none' : 'block';
        }


    </script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Register</h2>
                <form asp-controller="User" asp-action="RegisterUser" method="post">
                    <div class="form-group">
                        <label for="inputRegisterEmail">Email address</label>
                        <input type="email" class="form-control" id="inputRegisterEmail" name="UserEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="inputRegisterPassword">Password</label>
                        <input type="password" class="form-control" id="inputRegisterPassword" name="PasswordHash" required>
                    </div>
                    <input type="hidden" name="Role" value="User">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                    <p class="text-center">Already have an account? <a asp-controller="User" asp-action="Login">Login here</a>.</p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
