/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Embedded CSS for quick styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecd9c6; /* Light brown background */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* min-height: 100vh; /* sets the minimum height to 100% of the viewport height */
}

h1 {
    text-align: center;
    color: #000000; /* Dark brown text color */
}

p {
    text-align: center;
    color: #6d6d6d; /* Lighter brown text color */
}

.work-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .work-item img {
        width: 150px;
        height: auto;
        margin-right: 20px;
        border-radius: 8px; /* Rounded corners for images */
    }

.work-item-details {
    flex: 2;
}

.price {
    color: #00a82d; /* Green for price */
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.description {
    color: #4a4a4a; /* Dark brown for description */
}

/* Footer styles */
/* footer {
    text-align: center;
    background-color: #4a4a4a;
    color: #fff; /* White text color */
 /*   padding: 10px 0; /* Adjust padding as needed */
  /*  position: fixed;
    bottom: 0;
    width: 100%;
}
<!-- style="background-color: #808080ff;" > -->
      */