@model List<KhumaloCraft.Models.Product>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Work</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <h1> Previous Orders</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.ID</td>
                    <td>@order.Product.ProductName</td>
                    <td>@order.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No previous orders found.</p>
}
</body>
</html>