@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <div class="container">

     <p>This is the about us page </p>
        
    </div>
</body>
</html>