@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Work</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body style="background-color: #808080ff;">
    <div class="container">

        <p>This is the My Work page </p>

    </div>
</body>
</html>