body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Darker background color */
    color: #cfcfcf; /* Light text color */
    background-image: url('pattern.jpg');
    background-size: cover;
}

h1, h2 {
    text-align: center;
    color: #eaeaea; /* Light heading text color */
    margin-bottom: 20px;
}

p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #cfcfcf; /* Light paragraph text color */
}

.contact {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #2e2e2e; /* Darker background color */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

    .contact h1 {
        margin-bottom: 20px;
        color: #eaeaea; /* Light heading text color */
    }

    .contact p {
        margin-bottom: 20px;
        color: #cfcfcf; /* Light paragraph text color */
    }

    .contact form {
        display: grid;
        grid-gap: 20px;
    }

    .contact label {
        font-weight: bold;
        color: #eaeaea; /* Light label text color */
    }

    .contact input[type="text"],
    .contact input[type="email"],
    .contact textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #555; /* Darker border color */
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        color: #cfcfcf; /* Light input text color */
        background-color: #1e1e1e; /* Darker input background color */
    }

    .contact textarea {
        resize: vertical;
    }

    .contact button[type="submit"] {
        width: 100%;
        padding: 12px;
        background-color: #70c1b3; /* Light button background color */
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

        .contact button[type="submit"]:hover {
            background-color: #5da39c; /* Light button background color on hover */
        }
