/* site.css */

/* Normal (Light) Mode Styles */
body {
    font-family: 'Open Sans', sans-serif; /* Modern font */
    margin: 0;
    padding: 0;
    background-color: #171717; /* Darkened background */
    color: #eaeaea; 
    background-image: url('pattern.jpg');
    background-size: cover;
}

/* General Styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #212121; /* Slightly darker container background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #eaeaea; /* Light heading text */
    margin-bottom: 20px;
}

p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    text-align: center;
    margin-top: 20px;
    color: #eaeaea;
}

    nav a {
        display: inline-block;
        margin: 0 10px;
        color: #eaeaea; /* Darker link color */
        text-decoration: none;
        transition: color 0.3s ease;
        font-size: 18px;
    }

        nav a:hover {
            color: #5da39c; /* Light link color on hover */
        }

/* Specific Section Styling */
.contact {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #2e2e2e; /* Darker background color */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

    .contact h1 {
        margin-bottom: 20px;
        color: #eaeaea; /* Light heading text color */
    }

    .contact p {
        margin-bottom: 20px;
        color: #cfcfcf; /* Light paragraph text color */
    }

    .contact form {
        display: grid;
        grid-gap: 20px;
    }

    .contact label {
        font-weight: bold;
        color: #eaeaea; /* Light label text color */
    }

    .contact input[type="text"],
    .contact input[type="email"],
    .contact textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #555; /* Darker border color */
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        color: #cfcfcf; /* Light input text color */
        background-color: #1e1e1e; /* Darker input background color */
    }

    .contact textarea {
        resize: vertical;
    }

    .contact button[type="submit"] {
        width: 100%;
        padding: 12px;
        background-color: #70c1b3; /* Light button background color */
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

        .contact button[type="submit"]:hover {
            background-color: #5da39c; /* Light button background color on hover */
        }

.work {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #292929; /* Darkened section background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .work h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #eaeaea; /* Light heading text */
    }

    .work .work-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #444; /* Darker border */
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

        .work .work-item:last-child {
            border-bottom: none;
        }

        .work .work-item img {
            width: 150px;
            height: auto;
            margin-right: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

    .work .work-item-details {
        flex: 1;
    }

    .work .price {
        color: #2ecc71; /* Green price color */
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
    }

    .work .description {
        color: #cfcfcf; /* Light description text */
        margin-top: 5px;
    }

    .work .work-item:last-child {
        margin-bottom: 0;
    }

    .work-links {
        
    }