<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to KhumaloCraft Emporium</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/modal.css">
</head>
<body>
    <div class="about">
        <h1>About Us</h1>
        <h2>James Khumalo</h2>

        <p>James founded this company through his love and appreciation for the creatives and artisans who he thought weren't appreciated enough in an online setting. He is a visionary entrepreneur, and through blood, sweat, and tears, he is proud to introduce to you KhumaloCraft Emporium.</p>

        <p>The One Stop Shop for all artisan and handcrafted products from around the globe. Brought to you through the geniuses at Cloud Computing Co. KhumaloCraft Emporium is now a leading global e-commerce platform that showcases handcrafted products and connects buyers and sellers directly.</p>

        <img src="/images/aboutPage.jpg" alt="Pottery">
    </div>  
</body>
</html>
