<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to KhumaloCraft Emporium</title>
    <style>
        
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ecd9c6; 
            color: #4a4a4a;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #000000; 
            margin-bottom: 20px; 
        }

        nav {
            text-align: center;
            margin-top: 20px;
        }

            nav a {
                display: inline-block;
                margin: 0 10px;
                color: #00a82d; 
                text-decoration: none;
                transition: color 0.3s ease;
                font-size: 18px;
            }

                nav a:hover {
                    color: #007f24; 
                }

        p {
            text-align: center;
            color: #6d6d6d; 
            line-height: 1.6; 
            margin-bottom: 20px; 
        }

        img {
            display: block;
            margin: 0 auto;
            width: 30%; 
            height: auto;
            border-radius: 8px; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        }

        
      

    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to KhumaloCraft Emporium</h1>
        </header>
        <p> <img src="/images/logo.png" alt="KhumaloCraft Emporium Logo"> </p>
        <nav>
            <a href="#">Home</a>
            <a href="Home/About">About</a>
            <a href="Home/Contact">Contact</a>
            <a href="Home/MyWork">My Work</a>
        </nav>
        <p>Explore our collection of handcrafted products from artisans worldwide.</p>
    </div>

 
</body>
</html>
