<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to KhumaloCraft Emporium</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <div class="container">
        <header>
            
            <h1>Welcome to KhumaloCraft Emporium</h1>
            
        </header>
        <p1> <img src="/images/K-logo.jpg" alt="KhumaloCraft Emporium Logo" style="width: 30%; height: auto;"> </p1>
        <nav>
            
            <a href="#">Home</a>
            <a href="Home/About">About</a>
            <a href="Home/Contact">Contact</a> 
            <a href="Home/MyWork">My Work</a>
        </nav>
        <p style="text-align: left;">Explore our collection of handcrafted products from artisans worldwide.</p> 
    </div>
</body>
</html>