<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product 3 - Sculpture</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <div class="product">
        <h1>Product 3 - Table</h1>
        <p>This table was hand carved, oiled and perfectly designed by an artisan.</p>
        <p>Price: R350</p>
        <p>This is more detailed information about the hand carved table...</p>
    </div>
</body>
</html>
